* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    -webkit-user-select: none;
        /* Safari */
        -ms-user-select: none;
        /* IE 10 and IE 11 */
        user-select: none;
        /* Standard syntax */
    font-family: "Roboto",Arial, sans-serif;
    line-height: 1.6;
    background: #20202000;
    color: #fff9f9;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="yellow"/></svg>'), auto;
}
#container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    filter: grayscale(90%);
}
.root_container {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    padding: 50px;
    top: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
}

.border {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid #a6a6a6;
    position: relative;
}

.user-name {
    padding: 5px 10px 5px 5px;
    position: absolute;
    top: -25px;
    left: -15px;
    font-size: 30px;
    background: #191c1e;
    filter: grayscale(90%)
}
.user-work {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 20px;
    background: #191c1e;
    filter: grayscale(90%)
}
.contact-info{
    transform: rotate(-90deg);
    padding: 5px 10px 5px 5px;
    position: absolute;
    bottom: 52px;
    left: -72px;
    font-size: 10px;
    background: #191c1e;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
    filter: grayscale(90%)
}

.menu {
    margin-top: 50px;
    padding: 15px;
}

.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

 .menu-content .menu-icon {
    background: #a6a6a6;
    width: 7px;
    height: 7px;
    /* border-radius: 50%; */
}

  .menu .menu-content:hover .menu-icon  {
    background: #f6c500;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="white"/></svg>'), auto;
}
.menu .menu-content:hover span {
    color: #f6c500;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="white"/></svg>'), auto;
}
.home{
    position: absolute;
    width: 200px;
    right: 0;
    bottom: 0;
    padding:10px;
    line-height: 1.5;
}
.home_aboutme span{
    display: block;
    font-weight: 600px;
}