/* Variables */
:root {
    --background-color: #20202000;
    --text-color: #fff9f9;
    --border-color: #333333;
    --primary-color: #a6a6a6;
    --hover-color: #ffc107;
    --hover-circle: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="white"/></svg>');
    --menu-background: #002135;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#cursor {
    position: absolute;
    top: 50%;
    left: 50%;

  
}
  #circle1 {
    z-index: 1000;
      position: absolute;
      background: #ffc107;
      border-radius: 50%;
      height: 1em;
      width: 1em;
      margin-top: 0;
      margin-left: 0;
  }
/* Body */
body {
    cursor: none;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.6;
    background: var(--background-color);
    color: var(--text-color);
}

/* Container */
#container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    filter: grayscale(90%);
}

.root_container {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    padding: 50px;
    top: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
}

/* Border */
.border {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid var(--border-color);
    position: relative;
}

/* User Name */
.user-name {
    padding: 5px 10px 5px 5px;
    position: absolute;
    top: -25px;
    left: -15px;
    font-size: 30px;
    background: var(--menu-background);
    filter: grayscale(90%);
}

/* User Work */
.user-work {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 20px;
    background: var(--menu-background);
    filter: grayscale(90%);
}

/* Contact Info */
.contact-info {
    transform: rotate(-90deg);
    padding: 5px 10px 5px 5px;
    position: absolute;
    bottom: 80px;
    left: -100px;
    font-size: 10px;
    background: var(--menu-background);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    filter: grayscale(90%);
}

/* Menu */
.menu {
    margin-top: 50px;
    padding: 15px;
}

.menu-content,
.menu-content--contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.menu-content .menu-icon,
.menu-content--contact .menu-icon {
    background: var(--primary-color);
    width: 7px;
    height: 7px;
}

.menu .menu-content:hover .menu-icon
 {
    background: var(--hover-color);
}


.menu .menu-content:hover span {
    color:var(--hover-color); 
}

/* Home */
.home {
    position: absolute;
    width: 200px;
    right: 0;
    bottom: 0;
    padding: 10px;
    line-height: 1.5;
}
.home_aboutme{
    opacity: 0;
    animation: slide-in 0.5s ease forwards;
}
.home_aboutme .slide-out {
    animation: slide-out 0.5s ease forwards;
}
.home_aboutme span {
    display: block;
    font-weight: 600px;
}
.description_text .slide-out {
    animation: slide-out 0.5s ease forwards;
}


.home_aboutme span:nth-child(1) {
    animation-delay: 0.2s;
}

.home_aboutme span:nth-child(2) {
    animation-delay: 0.3s;
}
.home_aboutme span:nth-child(3) {
    animation-delay: 0.4s;
}
.home_aboutme span:nth-child(4) {
    animation-delay: 0.5s;
}
.home_aboutme span:nth-child(5) {
    animation-delay: 0.55s;
}

.home_aboutme span:nth-child(6) {
    animation-delay: 0.6s;
}
.home_aboutme span:nth-child(7) {
    animation-delay: 0.65s;
}
.home_aboutme span:nth-child(8) {
    animation-delay: 0.7s;
}
.home_aboutme span:nth-child(9) {
    animation-delay: 0.75s;
}
.home_aboutme span:nth-child(10) {
    animation-delay: 0.8s;
}
.home_aboutme span:nth-child(11) {
    animation-delay: 0.85s;
}



/* Active Menu */
.menu-active .menu-icon {
    background: var(--hover-color);
    color: var(--hover-color);
}

.menu-active span {
    color: var(--hover-color);
}


/* Loader Styles */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.loading-slide {
    position: relative;
    width: 25%;
    margin: 0 auto;
}
  
.loading-slide * {
    animation-play-state: paused;
}

.loading-slide:hover * {
    animation-play-state: running;
}

.loading-slide .slide {
    position: absolute;
    width: 25%;
    height: 5px;
    background: var(--hover-color);
    animation: slide 2s infinite;
}

.loading-slide .slide:nth-of-type(0n+1) {
    opacity: 0.2;
    transform: scale(1.8, 1);
    animation-delay: 0.2s;
}

.loading-slide .slide:nth-of-type(0n+2) {
    opacity: 0.4;
    transform: scale(1.4, 1);
    animation-delay: 0.1s;
}

.loading-slide .slide:nth-of-type(0n+3) {
    opacity: 0.8;
}

@keyframes slide {
    0% {
        left: 0%;
    }

    50% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

/* Hide loader when scene is loaded */
.loaded .loader-wrapper {
    display: none;
}
.description{
    display: block;
}
.projects{
   display: none;

   width: 50%;
   height: 100%;
   position: absolute;
   right:0;
   top:0px
}

.gallery {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    align-items: center;
    display: flex;
    padding: 2px;
    transition: .3s;
    justify-content: flex-end;
    
}



.gallery__column {
    min-width: 278px;
    max-width: 278px;
    gap: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: flex-end;
    opacity: 0;
    animation: slide-in 0.5s ease forwards;
}
.gallery__column:nth-child(odd) {
    animation-delay: 0.2s;
}

.gallery__column:nth-child(even) {
    animation-delay: 0.3s;
}
.gallery__column.slide-out{
    animation: slide-out 0.5s ease forwards;
}
.gallery__link {
  min-height: 200px;
    margin: 2px;
    overflow: hidden;
}

.gallery__link:hover .gallery__image {
    filter: grayscale(0);
transform: scale(0.95);
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

.gallery__image {
    display: block;
    width: 100%;
    transition: .3s;
    filter: grayscale(1);
    object-fit: cover;
    min-height: 200px;
   
}

.gallery__image:hover {
    
    filter: grayscale(0);
}

.gallery__caption {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 10px 10px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    opacity: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s;
}
.gallery__description{
  font-weight: 400 !important;  
  font-size: 14px;
}


.projects-container{
clip-path: polygon(47% 0%, 100% 0%, 100% 100%, 11% 100%);
    height: inherit;
    width: inherit;
    position: relative;
}
.project-next{
    height: 300px;
    width: 350px;
    clip-path: polygon(47% 0%, 100% 0%, 100% 100%, 11% 100%);
    background: var(--menu-background);
    position: absolute;
    right: 0;
    top:calc(50% - 150px)
}
.project-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    transform: rotate(90deg);
}
.left:hover{
    transform: scale(1.2);
}
.right{
    transform:rotate(180deg)
}
.right:hover {
    transform: scale(1.2) rotate(180deg);
}
.projects-showcase{
    width:100%;
    height:inherit;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    color: var(--border-color);
    font-weight: 600;
    font-size: 60px;
}
.skills{
    display: none;
    position: absolute;
    right: -70px;
    bottom: -145px;
    transform: rotate(45deg)
}
.section {
    display: flex;
    justify-content: center;
    padding-left: 75px;
}

.wall {
    display: flex;
}

.v-boxes {
    opacity: 0;
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
        margin-left: -75px;
    }
}

.second {
    margin-top: 75px;
}

.third {
    margin-top: 150px;
}

.forth {
    margin-top: 225px;
}

.box {
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 25px;
    cursor: pointer;

    &:hover {

        &:not(.link)>.box-face,
        >.box-back {
            transform: translateZ(100px) rotateX(180deg);
            background-color: transparent !important;
        }

        &:not(.link)>.box-face>.box-text {
            opacity: 0;
        }

        & .tooltip {
            visibility: visible;
            opacity: 1;
        }

        &.link>.box-face {
            background-color: transparent !important;

            &>.box-text {
                color: #323232;
            }
        }
    }

    &.link {
        &>.box-face {
            background-color: #323232;
            border: 1px solid #323232;
            box-sizing: border-box;
            transition: background-color .5s;
        }

        & .box-text {
            color: #efefef;
            transition: color .5s;
        }
    }
}

.box-face,
.box-back {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100px;
    height: 100px;
    display: flex;
        justify-content: center;
        align-items: center;
    background-color: #dedede;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-style: preserver-3d;
    -webkit-transform-style: preserver-3d;
    -moz-transform-style: preserver-3d;
    transition: transform 1s, background-color 0s .3s;
}

.box-face .box-text {
    line-height: 100px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 40px;
    color: #bababa;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: opacity 0s linear .3s;
}

.box-back .box-text {
    line-height: 100px;
    text-align: center;
    font-size: 12px;
    color: #636363;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-135deg) rotateY(180deg);
    transition: opacity 0s linear .3s;
}

.box-back {
    z-index: 0;
    background-image: linear-gradient(#fff, #efefef);
}

.box-text img {
    max-width: 32px;
    max-height: 32px;
    -webkit-filter: grayscale(100%) saturate(0);
    filter: grayscale(100%) saturate(0);
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 35%;
    left: 15%;
    width: 80px;
    font-size: 13px;
    color: #000;
    text-align: center;
    padding: 5px 0;
    z-index: 1000;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: visibility 0s linear .3s, opacity 1s linear .3s;
}

.v-boxes.slide-in{

animation: slide-in 0.5s ease forwards;
}
.v-boxes.slide-out {
animation: slide-out 0.5s ease forwards;
}
    .v-boxes:nth-child(1) {
    animation-delay: 0.2s;
    }

    .v-boxes:nth-child(2) {
    animation-delay: 0.3s;
    }
    .v-boxes:nth-child(3) {
    animation-delay: 0.4s;
    }
    .v-boxes:nth-child(4) {
    animation-delay: 0.5s;
    }
@keyframes slide-out {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

  .text-block {
    position: absolute;
    font-size: 25px;
    z-index: 5;
    color: white; 
    top: 50%;
    display: block;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: blinkAnimation 1s infinite;
    /* Initial blink animation */
    display: none;
  }

  @keyframes blinkAnimation {
      0% {
          opacity: 0;
          /* Text block starts invisible */
      }

      50% {
          opacity: 1;
          /* Text block is visible */
      }

      100% {
          opacity: 0;
          /* Text block becomes invisible again */
      }
  }

/* mobile */
@media only screen and (max-width: 800px) {
    .text-block{
        visibility: hidden;
    }
  .root_container{
    padding:30px;
  }
  .user-name{
    white-space: nowrap;
    font-size: 20px;
    transform: translate(-50%, 0px);
    left: 50%;
    width: fit-content;
    text-align: center;
  }
.user-work {
    font-size: 15px;
    transform: translate(-50%, 0px);
    left: 50%;
    width: 100%;
    text-align: center;
}
.menu{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.projects{
    width: 100%;
    height: 75%;
    transform: translateY(33%);
    }
.gallery{
    flex-direction: column;
    justify-content:flex-start;
}
.skills{
    right:-105px;
    bottom: -180px
}
.section{
    transform:scale(0.75)
}
.gallery__column{
    height:auto
}
 .gallery__link .gallery__caption {
     opacity: 1;
 }
}
@media only screen and (max-width: 400px) {


    .skills {
        right: -130px;
        bottom: -205px
    }

    .section {
        transform: scale(0.6)
    }
    .gallery__link .gallery__caption {
        opacity: 1;
    }
}