/* Variables */
:root {
    --background-color: #20202000;
    --text-color: #fff9f9;
    --border-color: #333333;
    --primary-color: #a6a6a6;
    --hover-color: #ffc107;
    --hover-circle: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="white"/></svg>');
    --menu-background: #191c1e;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Body */
body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.6;
    background: var(--background-color);
    color: var(--text-color);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="yellow"/></svg>'), auto;
}

/* Container */
#container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    filter: grayscale(90%);
}

.root_container {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    padding: 50px;
    top: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
}

/* Border */
.border {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid var(--border-color);
    position: relative;
}

/* User Name */
.user-name {
    padding: 5px 10px 5px 5px;
    position: absolute;
    top: -25px;
    left: -15px;
    font-size: 30px;
    background: var(--menu-background);
    filter: grayscale(90%);
}

/* User Work */
.user-work {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 20px;
    background: var(--menu-background);
    filter: grayscale(90%);
}

/* Contact Info */
.contact-info {
    transform: rotate(-90deg);
    padding: 5px 10px 5px 5px;
    position: absolute;
    bottom: 80px;
    left: -100px;
    font-size: 10px;
    background: var(--menu-background);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    filter: grayscale(90%);
}

/* Menu */
.menu {
    margin-top: 50px;
    padding: 15px;
}

.menu-content,
.menu-content--contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.menu-content .menu-icon,
.menu-content--contact .menu-icon {
    background: var(--primary-color);
    width: 7px;
    height: 7px;
}

.menu .menu-content:hover .menu-icon
 {
    background: var(--hover-color);
    cursor: var(--hover-circle), auto;
}


.menu .menu-content:hover span {
    color:var(--hover-color); 
    cursor: var(--hover-circle), auto;
}

/* Home */
.home {
    position: absolute;
    width: 200px;
    right: 0;
    bottom: 0;
    padding: 10px;
    line-height: 1.5;
}

.home_aboutme span {
    display: block;
    font-weight: 600px;
}

/* Active Menu */
.menu-active .menu-icon {
    background: var(--hover-color);
    color: var(--hover-color);
}

.menu-active span {
    color: var(--hover-color);
}